<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Codes List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Enter province name"></ion-searchbar>
  <ion-item-group *ngFor="let period of items">
    <ion-item-divider color="light">
      <div>
        <span style="float:left">From: {{period.start_dt | date: 'dd/MM/yyyy' }}</span>
        <span style="float:right">To: {{period.end_dt | date: 'dd/MM/yyyy' }}</span>
      </div>
    </ion-item-divider>
    <button ion-item *ngFor="let sd of period.subdivisions" href="#">
      <p>{{sd.name}}</p>
      <ion-note item-right>{{sd.otac}} <ion-icon name="arrow-round-forward"></ion-icon> {{sd.tac}}</ion-note>
    </button>
  </ion-item-group>
</ion-content>
